
<main class="main">
    <section class="form-register">
<form action="/" method="GET" class="formulario">   
<h4>Datos personales</h4>
    <input type="text" name="nombreApellido" placeholder="Nombre y Apellido">
    <input type ="name" name="username" placeholder="Nomrde de usuario" minlength="1">
    <input type="email" name="email" placeholder="E-mail">
    <h4>Perfil de usuario</h4>
 
    <div class="radio-perfil">
        <label for="" name="perfil-tipo"><input type="radio" name="perfil-tipo" id="">Comprador</label>
        <label for="" name="perfil-tipo"><input type="radio" name="perfil-tipo" id="">Vendedor</label>
    </div>



<label for="categorias">Categorias de interés:</label> 
<input type="checkbox" id="categorias" name="categorias" value="Electro"> 
<label for="categorias">Electro</label>
<input type="checkbox" id="categorias" name="categorias" value="Moda"> 
<label for="categorias">Moda</label>
<input type="checkbox" id="categorias" name="categorias" value="Hogar"> 
<label for="categorias">Hogar</label>
<input type="checkbox" id="categorias" name="categorias" value="Jugueteria"> 
<label for="categorias">Jugueteria</label>
<input type="checkbox" id="categorias" name="categorias" value="Vida sana"> 
<label for="categorias">Vida sana</label>

<label for="avatar" >Foto de usuario:</label>
<input type="file" name="avatar" accept=".jpg">

<label for="clave">Contraseña:</label>
<input type="password" id="clave" name="clave">
<label for="clave-dos">Confirmar contraseña:</label>

</form>
</section>
</main>